<h1 class="text-center">Articles</h1>

<div class="row justify-content-center">
  <div class="col-8 mb-4">
    <%= render "new_button" %>
  </div>

  <div class="col-8 mb-4">
    <%= turbo_frame_tag 'articles' do %>
      <%= render @articles %>
    <% end %>
  </div>
</div>
