<!-- app/views/shared/_pagination.html.erb -->
<div class="d-flex justify-content-between align-items-center mb-3">
  <div>
    <% current_path = url_for == "/" ? "/#{controller_name}" : url_for %>
    <%= form_tag(current_path, method: :get, id: "pagination-form") do %>
      <%= select_tag :per_page, options_for_select(Paginatable::PER_PAGE_OPTIONS, per_page), class: "form-select w-auto", onchange: "this.form.submit()" %>
    <% end %>
  </div>

  <nav aria-label="Page navigation">
    <ul class="pagination">
      <% (0...total_pages).each do |page| %>
        <li class="page-item <%= 'active' if current_page == page %>">
          <%= link_to page + 1, "/#{controller_name}?page=#{page + 1}&per_page=#{per_page}", class: "page-link", data: { turbo_action: "replace", turbo_target: "articles" }, remote: true %>
        </li>
      <% end %>
    </ul>
  </nav>
</div>
